@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.cdnfonts.com/css/sergio-trendy');

*, *::before, *::after{
   box-sizing: border-box;
   color: black;
}
body{
   font-family: 'Nunito','Sergio Trendy', 'sans serif';
   font-size: 18px;
   width: 100%;
}

:root{
   --first-main: #949DCE;
   --second-main: #8587C1;
   --orange-bg: #F4A276;
   --purple-bg: #A9B8EA;
   --blue: #5667BA;
}

/* Section Banner */
#banner{
   background-color: var(--second-main);
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   animation-name: backgroundColor;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
.banner__img{
   margin: 0 60px;
   width: 75%;
   height: auto;
}
@keyframes backgroundColor {
   100%{
      background-color: var(--purple-bg);
   }
}

/* Header */
.header{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: var(--orange-bg);
   height: 160px;
}

/* Logo */
.header__logo{
   display: flex;
   justify-content: space-between;
   gap: 20px;
}
.header__logo__img{
   height: 60px;
}
.header__logo__span{
   display: flex;
   align-items: center;
   color: white;
   font-weight: bolder;
   font-size: 2rem;
   font-family: 'Sergio Trendy';
}

/* Navbar */
.navbar{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 10px;
   width: 300px;
}
.nav__link{
   transition:
      background-color .5s,
      border-radius .5s,
      color .5s;
      display: inline-block;
   align-items: center;
   text-decoration: none;
   font-size: 1rem;
   font-weight: bold;
   border-radius: 5px;
   padding: 5px 15px;
   font-weight: bold;
   color: white;
}
.nav__link:hover{
   background-color: var(--second-main);
}


/* Content */
#content{
   background-image: url(../img/backgrounds/bg.png);
   background-size: contain;
   background-repeat: repeat-y;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 40px 40px 200px;
   gap: 50px;
}
/* About */
.about{
   padding: 30px;
   background-color: var(--purple-bg);
   border-radius: 15px;
   display: grid;
   gap: 30px;
   box-shadow: -10px -10px 15px rgba(69, 69, 69, 0.208),
               10px 10px 15px rgba(82, 82, 82, 0.197);
}
   /* Foto Adriana */
.about__img{
   display: flex;
   justify-content: center;
   align-content: center;
   padding: 20px;
   grid-row: 2/3;
   border-radius: 15px;
   box-shadow: inset -5px -5px 15px rgba(76, 76, 76, 0.177),
               inset 5px 5px 15px rgba(80, 80, 80, 0.166);
}
.about__img img{
   width: 100%;
   height: auto;
   border-radius: 15px;
}
   /* Contenido del about */
.about__content{
   text-align: center;
   padding: 30px;
   box-shadow: -5px -5px 15px rgba(76, 76, 76, 0.177), 
               5px 5px 15px rgba(80, 80, 80, 0.166);
   border-radius: 15px;
}
.about__content__title{
   height: 40px;
}
.about__content__text{
   color: #ffff;
   font-size: 1.4rem;
   text-align: justify;
}
   /* Habilidades */
.about__content__skills{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 10px;
}
.about__content__skills div{
   display: flex;
   align-items: center;
   gap: 15px;
}
.about__content__skills__wrapper--mod{
   grid-column: 1/3;
}
.about__content__skills__wrapper span{
   color: #ffff;
   font-size: 1.4rem;
}
.about__content__skills__wrapper--mod span{
   color: var(--blue);
   font-weight: bolder;
   font-size: 1.4rem;
}
.about__content__skills__wrapper--mod  img{
   height: 30px;
}
.about__content__skills__wrapper img{
   height: 15px;
}

/* Habilidades/Skills */
.habilidades{
   display: flex;
   flex-direction: column;
   gap: 30px;
}
/* SocialMedia */
.social-media{
   padding: 30px;
   background-color: var(--orange-bg);
   border-radius: 15px;
   box-shadow: -10px -10px 15px rgba(65, 65, 65, 0.208),
               10px 10px 15px rgba(67, 67, 67, 0.197);
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.social-media__title{
   border-radius: 15px;
   padding: 0 30px 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   box-shadow: inset -5px -5px 15px rgba(76, 76, 76, 0.177), 
               inset 5px 5px 15px rgba(80, 80, 80, 0.166);
}
.social-media__title__h2{
   font-size: 10rem;
   font-family: 'Sergio Trendy';
   color: #ffff;
   margin: 0;
}
.social-media__title__img{
   height: 100px;
}
.social-media__content{
   display: flex;
   flex-direction: column;
   gap: 30px;
   border-radius: 15px;
   padding: 30px;
   box-shadow: -5px -5px 15px rgba(76, 76, 76, 0.177),
               5px 5px 15px rgba(80, 80, 80, 0.166);
}
   /* INKA KOLA */
.ik{
   display: grid;
   gap: 20px;
}
.ik__content{
   display: grid;
   gap: 20px;
}
.ik__content__title{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.ik__content__title__h3{
   color: #ffff;
   font-family: 'Sergio Trendy';
   font-size: 2.65rem;
   margin: 0;
}
.ik__content__text{
   color: #ffff;
   font-size: 1.4rem;
   text-align: justify;
}
.ik__photos{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 20px;
   border-radius: 15px;
   box-shadow: inset -5px -5px 15px rgba(76, 76, 76, 0.177),
               inset 5px 5px 15px rgba(80, 80, 80, 0.166);
}
.ik__photos img{
   width: 100%;
   height: auto;
   border-radius: 15px;
}

/* AÑO NUEVO */
.ny{
   display: grid;
   gap: 20px;
}
.ny__content{
   display: grid;
   gap: 20px;
}
.ny__content__title__h4{
   color: #ffff;
   margin: 0;
   font-size: 1.65rem;
}
.ny__content__title__h3{
   color: #ffff;
   font-family: 'Sergio Trendy';
   font-size: 2.65rem;
   margin: 0 0 10px;
}
.ny__content__text{
   color: #ffff;
   font-size: 1.4rem;
   text-align: justify;
}
.ny__photos{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 20px;
   border-radius: 15px;
   box-shadow: inset -5px -5px 15px rgba(76, 76, 76, 0.177),
               inset 5px 5px 15px rgba(80, 80, 80, 0.166);
}
.ny__photos img{
   width: 100%;
   height: auto;
   border-radius: 15px;
}

.social-media__content .sub{
   background-color: #ffff;
   border-radius: 15px;
   padding: 5px 15px;
   display: flex;
   justify-content: center;
   gap: 10px;
   width: 220px;
}
.social-media__content .sub img{
   height: 20px;
}
.social-media__content .sub span{
   color: var(--orange-bg);
   font-weight: bold;
}

/* Photography */
.photograph{
   display: flex;
   flex-direction: column;
   gap: 30px;
   padding: 30px;
   background-color: var(--purple-bg);
   border-radius: 15px;
   box-shadow: -10px -10px 15px rgba(30, 30, 30, 0.208),
               10px 10px 15px rgba(41, 41, 41, 0.197);
}
.photograph__title{
   border-radius: 15px;
   padding: 0 30px 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   box-shadow: inset -5px -5px 15px rgba(76, 76, 76, 0.177), 
               inset 5px 5px 15px rgba(80, 80, 80, 0.166);
}
.photograph__title__h2{
   font-size: 10rem;
   font-family: 'Sergio Trendy';
   color: #ffff;
   margin: 0;
}
.photograph__title__img{
   height: 100px;
}
.photograph__content{
   display: flex;
   flex-direction: column;
   gap: 30px;
   border-radius: 15px;
   padding: 30px;
   box-shadow: -5px -5px 15px rgba(76, 76, 76, 0.177),
               5px 5px 15px rgba(80, 80, 80, 0.166);
}


.photograph__content .sub{
   background-color: #ffff;
   border-radius: 15px;
   padding: 5px 15px;
   display: flex;
   justify-content: center;
   gap: 10px;
   width: 220px;
}
.photograph__content .sub img{
   height: 20px;
}
.photograph__content .sub span{
   color: var(--purple-bg);
   font-weight: bold;
}

   /* SESION FOTOGRAFICA */
.pSesion{
   display: grid;
   gap: 20px;
}
.pSesion__title{
   display: grid;
}
.pSesion__title__h4{
   color: #ffff;
   margin: 0;
   font-size: 1.65rem;
}
.pSesion__title__h3{
   color: #ffff;
   font-family: 'Sergio Trendy';
   font-size: 2.65rem;
   margin: 0 0 10px;
}
.pSesion__content{
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.pSesion__content__text{
   color: #ffff;
   font-size: 1.4rem;
   text-align: justify;
}
.pSesion__content__photos{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 20px;
   border-radius: 15px;
   box-shadow: inset -5px -5px 15px rgba(76, 76, 76, 0.177),
               inset 5px 5px 15px rgba(80, 80, 80, 0.166);
}
.pSesion__content__photos img{
   width: 100%;
   height: auto;
   border-radius: 15px;
}

/* PRODUCTO */
.pProduct{
   display: grid;
   gap: 20px;
}
.pProduct__title{
   display: grid;
}
.pProduct__title__h4{
   color: #ffff;
   margin: 0;
   font-size: 1.65rem;
}
.pProduct__title__h3{
   color: #ffff;
   font-family: 'Sergio Trendy';
   font-size: 2.65rem;
   margin: 0 0 10px;
}
.pProduct__content{
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.pProduct__content__text{
   color: #ffff;
   font-size: 1.4rem;
   text-align: justify;
}
.pProduct__content__photos{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 20px;
   border-radius: 15px;
   box-shadow: inset -5px -5px 15px rgba(76, 76, 76, 0.177),
               inset 5px 5px 15px rgba(80, 80, 80, 0.166);
}
.pProduct__content__photos img{
   width: 100%;
   height: auto;
   border-radius: 15px;
}

/* Contact */
#contact{
   background-image: url(../img/backgrounds/bg-footer.svg);
   background-size: cover;
   margin-top: -170px;
   padding: 100px 60px 60px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
   gap: 50px;
}
.contact__banner{
   width: 275px;
   height: auto;
}

/* Footer */
.footer{
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 15px;
}
.footer__container{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.footer__container__span{
   font-size: 1.25rem;
   color: white;
}
.footer__container__icon{
   height: 25px;
}
