@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.cdnfonts.com/css/sergio-trendy');

*, *::before, *::after{
   box-sizing: border-box;
   color: black;
}
body{
   font-family: 'Nunito','Sergio Trendy', 'sans serif';
   font-size: 18px;
   width: 100%;
}

:root{
   --first-main: #949DCE;
   --second-main: #8587C1;
   --orange-bg: #F4A276;
   --purple-bg: #A9B8EA;
   --blue: #5667BA;
}

/* Section Banner */
#banner{
   background-color: var(--second-main);
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   animation-name: backgroundColor;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
.banner__img{
   margin: 0 60px;
   width: 75%;
   height: auto;
}
@keyframes backgroundColor {
   100%{
      background-color: var(--purple-bg);
   }
}

/* Header */
.header{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: var(--orange-bg);
   height: 160px;
}

/* Logo */
.header__logo{
   display: flex;
   justify-content: space-between;
   gap: 20px;
}
.header__logo__img{
   height: 60px;
}
.header__logo__span{
   display: flex;
   align-items: center;
   color: white;
   font-size: 2rem;
   font-family: 'Sergio Trendy';
}

/* Navbar */
.navbar{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 10px;
}
.nav__link{
   transition:
      background-color .5s,
      border-radius .5s,
      color .5s;
      display: inline-block;
   align-items: center;
   text-decoration: none;
   font-size: 1rem;
   font-weight: bold;
   border-radius: 5px;
   padding: 10px 15px;
   color: white;
}
.nav__link:hover{
   background-color: var(--second-main);
}


/* Content */
#content{
   background-image: url(../img/backgrounds/bg.png);
   background-size: contain;
   background-repeat: repeat-y;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 40px 40px 200px;
   gap: 50px;
}
/* About */
.about{
   padding: 30px;
   background-color: var(--purple-bg);
   border-radius: 15px;
   display: grid;
   gap: 30px;
   box-shadow: -10px -10px 15px rgba(69, 69, 69, 0.208),
               10px 10px 15px rgba(82, 82, 82, 0.197);
}
   /* Foto Adriana */
.about__img{
   display: flex;
   justify-content: center;
   align-content: center;
   padding: 20px;
   grid-row: 2/3;
   border-radius: 15px;
   box-shadow: inset -5px -5px 15px rgba(76, 76, 76, 0.177),
               inset 5px 5px 15px rgba(80, 80, 80, 0.166);
}
.about__img img{
   width: 100%;
   height: auto;
   border-radius: 15px;
}
   /* Contenido del about */
.about__content{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   text-align: center;
   padding: 30px;
   box-shadow: -5px -5px 15px rgba(76, 76, 76, 0.177), 
               5px 5px 15px rgba(80, 80, 80, 0.166);
   border-radius: 15px;
}
.about__content__title{
   height: 40px;
}
.about__content__text{
   color: #ffff;
   font-size: 1.3rem;
   text-align: justify;
}
   /* Habilidades */
.about__content__skills{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 10px;
}
.about__content__skills div{
   display: flex;
   align-items: center;
   gap: 15px;
}
.about__content__skills__wrapper--mod{
   grid-column: 1/3;
}
.about__content__skills__wrapper span{
   color: #ffff;
   font-size: 1.3rem;
}
.about__content__skills__wrapper--mod span{
   color: var(--blue);
   font-weight: bolder;
   font-size: 1.3rem;
}
.about__content__skills__wrapper--mod  img{
   height: 30px;
}
.about__content__skills__wrapper img{
   height: 15px;
}

/* Habilidades/Skills */
.habilidades{
   display: flex;
   flex-direction: column;
   gap: 30px;
}
/* SocialMedia */
.social-media{
   padding: 30px;
   background-color: var(--orange-bg);
   border-radius: 15px;
   box-shadow: -10px -10px 15px rgba(65, 65, 65, 0.208),
               10px 10px 15px rgba(67, 67, 67, 0.197);
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.social-media__title{
   border-radius: 15px;
   padding: 0 30px 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   box-shadow: inset -5px -5px 15px rgba(76, 76, 76, 0.177), 
               inset 5px 5px 15px rgba(80, 80, 80, 0.166);
}
.social-media__title__h2{
   font-size: 9rem;
   font-family: 'Sergio Trendy';
   color: #ffff;
   margin: 0;
}
.social-media__title__img{
   height: 100px;
}
.social-media__content{
   display: flex;
   flex-direction: column;
   gap: 30px;
   border-radius: 15px;
   padding: 30px;
   box-shadow: -5px -5px 15px rgba(76, 76, 76, 0.177),
               5px 5px 15px rgba(80, 80, 80, 0.166);
}
   /* INKA KOLA */
.ik{
   display: grid;
   gap: 20px;
}
.ik__content{
   display: grid;
   gap: 20px;
}
.ik__content__title{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.ik__content__title__h3{
   color: #ffff;
   font-family: 'Sergio Trendy';
   font-size: 2.65rem;
   margin: 0;
}
.ik__content__text{
   color: #ffff;
   font-size: 1.4rem;
   text-align: justify;
}
.ik__photos{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 20px;
   border-radius: 15px;
   box-shadow: inset -5px -5px 15px rgba(76, 76, 76, 0.177),
               inset 5px 5px 15px rgba(80, 80, 80, 0.166);
}
.ik__photos img{
   width: 100%;
   height: auto;
   border-radius: 15px;
}

/* AÑO NUEVO */
.ny{
   display: grid;
   gap: 20px;
}
.ny__content{
   display: grid;
   gap: 20px;
}
.ny__content__title__h4{
   color: #ffff;
   margin: 0;
   font-size: 1.65rem;
}
.ny__content__title__h3{
   color: #ffff;
   font-family: 'Sergio Trendy';
   font-size: 2.65rem;
   margin: 0 0 10px;
}
.ny__content__text{
   color: #ffff;
   font-size: 1.4rem;
   text-align: justify;
}
.ny__photos{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 20px;
   border-radius: 15px;
   box-shadow: inset -5px -5px 15px rgba(76, 76, 76, 0.177),
               inset 5px 5px 15px rgba(80, 80, 80, 0.166);
}
.ny__photos img{
   width: 100%;
   height: auto;
   border-radius: 15px;
}

.social-media__content .sub{
   background-color: #ffff;
   border-radius: 15px;
   padding: 5px 15px;
   display: flex;
   justify-content: center;
   gap: 10px;
   width: 220px;
}
.social-media__content .sub img{
   height: 20px;
}
.social-media__content .sub span{
   color: var(--orange-bg);
   font-weight: bold;
}

/* Photography */
.photograph{
   display: flex;
   flex-direction: column;
   gap: 30px;
   padding: 30px;
   background-color: var(--purple-bg);
   border-radius: 15px;
   box-shadow: -10px -10px 15px rgba(30, 30, 30, 0.208),
               10px 10px 15px rgba(41, 41, 41, 0.197);
}
.photograph__title{
   border-radius: 15px;
   padding: 0 30px 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   box-shadow: inset -5px -5px 15px rgba(76, 76, 76, 0.177), 
               inset 5px 5px 15px rgba(80, 80, 80, 0.166);
}
.photograph__title__h2{
   font-size: 9rem;
   font-family: 'Sergio Trendy';
   color: #ffff;
   margin: 0;
}
.photograph__title__img{
   height: 100px;
}
.photograph__content{
   display: flex;
   flex-direction: column;
   gap: 30px;
   border-radius: 15px;
   padding: 30px;
   box-shadow: -5px -5px 15px rgba(76, 76, 76, 0.177),
               5px 5px 15px rgba(80, 80, 80, 0.166);
}


.photograph__content .sub{
   background-color: #ffff;
   border-radius: 15px;
   padding: 5px 15px;
   display: flex;
   justify-content: center;
   gap: 10px;
   width: 220px;
}
.photograph__content .sub img{
   height: 20px;
}
.photograph__content .sub span{
   color: var(--purple-bg);
   font-weight: bold;
}

   /* SESION FOTOGRAFICA */
.pSesion{
   display: grid;
   gap: 20px;
}
.pSesion__content__title{
   display: grid;
}
.pSesion__content__title__h4{
   color: #ffff;
   margin: 0;
   font-size: 1.2rem;
}
.pSesion__content__title__h3{
   color: #ffff;
   font-family: 'Sergio Trendy';
   font-size: 2.2rem;
   margin: 0 0 10px;
}
.pSesion__content{
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.pSesion__content__text{
   color: #ffff;
   font-size: 1.3rem;
   text-align: justify;
}
.pSesion__photos{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 20px;
   border-radius: 15px;
   box-shadow: inset -5px -5px 15px rgba(76, 76, 76, 0.177),
               inset 5px 5px 15px rgba(80, 80, 80, 0.166);
}
.pSesion__photos img{
   width: 100%;
   height: auto;
   border-radius: 15px;
}

/* PRODUCTO */
.pProduct{
   display: grid;
   gap: 20px;
}
.pProduct__content__title__h4{
   color: #ffff;
   margin: 0;
   font-size: 1.2rem;
}
.pProduct__content__title__h3{
   color: #ffff;
   font-family: 'Sergio Trendy';
   font-size: 2.2rem;
   margin: 0 0 10px;
}
.pProduct__content{
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.pProduct__content__text{
   color: #ffff;
   font-size: 1.2rem;
   text-align: justify;
}
.pProduct__photos{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 20px;
   border-radius: 15px;
   box-shadow: inset -5px -5px 15px rgba(76, 76, 76, 0.177),
               inset 5px 5px 15px rgba(80, 80, 80, 0.166);
}
.pProduct__photos img{
   width: 100%;
   height: auto;
   border-radius: 15px;
}

/* Contact */
#contact{
   background-image: url(../img/backgrounds/bg-footer.svg);
   background-size: cover;
   margin-top: -170px;
   padding: 100px 60px 60px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
   gap: 50px;
}
.contact__banner{
   width: 275px;
   height: auto;
}

/* Footer */
.footer{
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 15px;
}
.footer__container{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.footer__container__span{
   font-size: 1.25rem;
   color: white;
}
.footer__container__icon{
   height: 25px;
}

/* MEDIA QUERIES */
@media (min-width: 650px){
   .about__content__title{
      height: 16%;
   }

   .social-media__title,
   .photograph__title{
      flex-direction: row;
      padding: 20px 0;
   }
   .social-media__title__img,
   .photograph__title__img{
      height: 140px;
   }

   .ik__content__title__h3,
   .ny__content__title__h3,
   .pSesion__content__title__h3,
   .pProduct__content__title__h3{
      font-size: 4rem;
   }

   .ny__content__title__h4,
   .pSesion__content__title__h4,
   .pProduct__content__title__h4{
      font-size: 2rem;
   }

   .ik__content__text,
   .ny__content__text,
   .pSesion__content__text,
   .pProduct__content__text{
      font-size: 1.5rem;
   }

   .contact__banner{
      width:  80%;
   }
}

@media (min-width: 750px){
   .ik__photos{
      display: grid;
      grid-template-columns: 8fr 7fr;
   }
   .ny__photos{
      display: grid;
      grid-template-columns: 7fr 8fr;
   }
   .ik__photos, .ny__photos,
   .pSesion__photos,
   .pProduct__photos{
      padding: 50px;
   }
}

@media (min-width:1001px){
   .header{
      flex-direction: row;
      padding: 10px 30px;
      height: 100px;
   }
   .header__logo{
      gap: 30px;
   }
   .header__logo__img{
      height: 70px;
   }
   .header__logo__span{
      font-size: 2rem;
   }
   .nav__link{
      font-size: 1.1rem;
      padding: 10px 15px;
   }

   .about{
      grid-template-columns: 1fr 1fr;
   }
   .about__img{
      grid-column: 2/3;
      grid-row: 1/2;
   }
   .about__content__title{
      height: 15%;
   }

   .social-media__content,
   .photograph__content{
      gap: 60px;
      padding: 100px;
   }

   .social-media__title,
   .photograph__title{
      padding: 100px 20px;
   }
   .social-media__title__img,
   .photograph__title__img{
      height: 250px;
   }
   .social-media__title__h2,
   .photograph__title__h2{
      font-size: 16rem;
   }

   .ik, .ny{
      grid-template-columns: 1fr 1fr;
   }
   .ik__photos,
   .ny__photos,
   .pSesion__photos,
   .pProduct__photos{
      padding: 20px;
   }

   .ik__photos{
      padding-right: 30px;
   }
   .ny__photos, .pProduct__photos{
      grid-column: 1/2;
      grid-row: 1/2;
   }
   .ny__content{
      grid-column: 2/3;
      gap: 40px;
   }
   .ik__content__text{
      padding-right: 30%;
      display: flex;
      align-items: end;
   }
   .ny__content__title{
      display: flex;
      flex-direction: column;
      align-items: end;
   }
   .ny__content__text{
      padding-left: 30%;
   }

   .pSesion{
      grid-template-columns: 1fr 1fr;
   }
   .pSesion__content{
      justify-content: space-between;
   }
   .pSesion__content__text{
      padding-right: 30%;
   }

   .pProduct{
      grid-template-columns: 1fr 1fr;
   }
   .pProduct__photos{
      grid-column: 1/2;
      grid-row: 1/1;
   }
   .pProduct__content{
      justify-content: space-between;
   }
   .pProduct__content__title{
      display: flex;
      flex-direction: column;
      align-items: end;
   }
   .pProduct__content__text{
      padding-left: 30%;
   }

   #contact{
      padding-top: 150px;
   }
   .contact__banner{
      width:  70%;
   }
   .footer{
      flex-direction: row;
   }
}

@media (min-width:1400px) {
   .header{
      padding: 20px 50px;
   }
   .header__logo__img{
      height: 100px;
   }
   .header__logo__span{
      font-size: 3rem;
   }
   .nav__link{
      font-size: 1.5rem;
      padding: 15px 20px;
   }

   .about__content{
      padding: 50px;
   }
   .about__img{
      padding: 40px;
   }
   .about__content__text{
      font-size: 1.8rem;
   }
   .about__content__skills{
      gap: 20px;
   }
   .about__content__skills__wrapper span{
      font-size: 1.7rem;
   }
   .about__content__skills__wrapper--mod span{
      font-size: 1.7rem;
   }

   .ik__content__title__h3,
   .ny__content__title__h3,
   .pSesion__content__title__h3,
   .pProduct__content__title__h3{
      font-size: 5rem;
   }

   .ik__content__text,
   .ny__content__text,
   .pSesion__content__text,
   .pProduct__content__text{
      font-size: 1.7rem;
   }

   .social-media__content .sub,
   .ny__content .sub,
   .pProduct__content .sub,
   .pSesion__content .sub{
      width: 300px;
      font-size: 1.25rem;
      justify-content: space-evenly;
      border-radius: 20px;
   }

   .social-media__content .sub img,
   .ny__content .sub img,
   .pProduct__content .sub img,
   .pSesion__content .sub img{
      height: 30px;
   }

   .social-media__content .sub span,
   .ny__content .sub span,
   .pProduct__content .sub span,
   .pSesion__content .sub span{
      font-size: 1.5rem;
   }
}